@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$font-family: 'Poppins', sans-serif;

$text-primary-color: #000000;
$text-secondary-color: #ffffff;
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem;
$font-size-4: 1.6rem;

$primary-color: #525174;
$secondary-color: #ffffff;

$box-shadow-primary-1: 9px 9px 16px rgba(241, 241, 241, 0.3),
	-9px -9px 16px rgba(241, 241, 241, 0.2);
$box-shadow-secondary-1: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
$box-shadow-secondary-2: rgba(0, 0, 0, 0.25) 0px 21px 35px, rgba(0, 0, 0, 0.22) 0px 20px 20px;
